<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="dalamud-public" value="https://dalamud.pkgs.visualstudio.com/public/_packaging/dalamud-public/nuget/v3/index.json" />
    <add key="local-dalamud-sdk" value="/home/mind/local-builds/Dalamud.NET.Sdk/nupkg" />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
  <auditSources><clear /></auditSources>
</configuration>
